.container
{
    height: 500px;
    background-color: brown;
}
.container-fluid
{
    height: 500px;
    background-color: brown;
}

[class^="col"]
{
    height: 100px;
    background-color: darkblue;
    border: 1px solid white;
    color: white;
}

